# 데이터 로드 라이브러리
kaggle
# 시각화 라이브러리
pygwalker==0.3.2
sweetviz
plotly
# 분석 프레임워크
scipy==1.11.0
# MLDL 프레임워크
torch
torchvision
lightgbm>=4.0.0
pycaret
xgboost
# MLops 
comet_ml
optuna
# 데이터베이스 접속도구
psycopg2-binary
sqlalchemy
#전처리 도구
imbalanced-learn